<div class="signup_container">
  <div class="container">
    <div class="ui middle aligned center aligned grid loginForm">
      <div class="column loginColumn">
        <h2 class="ui orange image header loginImage">
          회원가입
        </h2>
      <%= form_for(resource, as: resource_name, url: registration_path(resource_name), :html => {class: "ui large form"}) do |f| %>
        <%= devise_error_messages! %>
        <div class="ui raised segment loginBox">
          <div class="field">
            <%= f.label :email, :class => 'ui left aligned header' %>
            <%= f.email_field :email %>
          </div>
    
          <div class="field">
            <%= f.label :name, '비밀번호', :class => 'ui left aligned header' %>
            <%= f.password_field :password, autocomplete: "off", :placeholder => '6자 이상이어야 합니다.' %>
          </div>
    
          <div class="field">
            <%= f.label :name, '비밀번호 확인', :class => 'ui left aligned header' %>
            <%= f.password_field :password_confirmation, autocomplete: "off" %>
          </div>
    
          <div class="actions">
            <%= f.submit "회원가입", :class => 'button special fit'%>
          </div>
            <% end %>
        </div>
        <%= render "devise/shared/links" %>
      </div>
    </div>
  </div>
</div>
<style>
  html,body{
    height: 100%;
  }
  #wrapper{
    padding: 5%;
  }
  .signup_container{
    padding: 10%;
  }
</style>