<div class="space_info">
<p id="notice"><%= notice %></p>

<h1>가게 정보</h1>

<table>
  <thead>
    <tr>
      <th>이름</th>
      <th>시간당가격</th>
      <th>오픈시간</th>
      <th>닫는시간</th>
      <th>Tel</th>
      <th>Parking</th>
      <th>Smoking</th>
      <th>Projector</th>
      <th>Wifi</th>
      <th>Printer</th>
      <th>Consent</th>
      <th>Payment</th>
      <th>Place</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @space_infos.each do |space_info| %>
      <tr>
        <td><%= space_info.name %></td>
        <td><%= space_info.price_per_hour %></td>
        <td><%= space_info.ot.to_s[10..15] %></td>
        <td><%= space_info.ct.to_s[10..15] %></td>
        <td><%= space_info.tel %></td>
        <td><%= space_info.parking %></td>
        <td><%= space_info.smoking %></td>
        <td><%= space_info.projector %></td>
        <td><%= space_info.wifi %></td>
        <td><%= space_info.printer %></td>
        <td><%= space_info.consent %></td>
        <td><%= space_info.payment %></td>
        <td><%= space_info.place %></td>
        <td><%= link_to 'Show', space_info %></td>
        <td><%= link_to 'Edit', edit_space_info_path(space_info) %></td>
        <td><%= link_to 'Destroy', space_info, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Space Info', new_space_info_path %>
</div>

<style>
  .space_info{
    padding: 5%;
  }
</style>