<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @space_info.name %>
</p>

<p>
  <strong>Address:</strong>
  <%= @space_info.address %>
</p>

<p>
  <strong>Price per hour:</strong>
  <%= @space_info.price_per_hour %>
</p>

<p>
  <strong>Ot:</strong>
  <%= @space_info.ot %>
</p>

<p>
  <strong>Ct:</strong>
  <%= @space_info.ct %>
</p>

<p>
  <strong>Tel:</strong>
  <%= @space_info.tel %>
</p>

<p>
  <strong>Photo:</strong>
  <%= @space_info.photo %>
</p>

<p>
  <strong>Parking:</strong>
  <%= @space_info.parking %>
</p>

<p>
  <strong>Smoking:</strong>
  <%= @space_info.smoking %>
</p>

<p>
  <strong>Projector:</strong>
  <%= @space_info.projector %>
</p>

<p>
  <strong>Wifi:</strong>
  <%= @space_info.wifi %>
</p>

<p>
  <strong>Printer:</strong>
  <%= @space_info.printer %>
</p>

<p>
  <strong>Consent:</strong>
  <%= @space_info.consent %>
</p>

<p>
  <strong>Payment:</strong>
  <%= @space_info.payment %>
</p>

<p>
  <strong>Place:</strong>
  <%= @space_info.place %>
</p>

<%= link_to 'Edit', edit_space_info_path(@space_info) %> |
<%= link_to 'Back', space_infos_path %>
