사용자가 전송한 예약요청을 호스트가 확인할 수 있는곳 

<p>인원<%=@user_input_people%> 명</p>

<p>장소   <%=@user_input_place%></p>

<p>입실시간<%=@user_input_start_time%></p>

<p>퇴실시간<%=@user_input_end_time%></p>

<p>전화 <%=@user_input_phonenumber%> </p>
