<div class="booking_container">
    <div class="booking_padding">
        <div class="booking_chat">
            <div class="space_name">
                <p>STORE NAME</p>
            </div>
            <div class="space_content">
                <h2>요청내역</h2>
                <% @list.each do |p| %>
                <div>
                    <%= p.user.email%>님
                    
                    <label>인원수</label>
                    <p><%=p.people%>명</p>
                    <p><%=p.time.split("T")[0]%><%=p.time.split("T")[1]%> 부터 <%= p.durationTime %> 시간</p>
                   
                    <a href="/reservations/accept/<%=p.id%>/0"><button>수락</button></a>    
                    <a href="/reservations/accept/<%=p.id%>/1"><button>거절</button></a>
                </div>
                    <hr />

                <% end %>
            </div>
        </div>
    </div>
</div>
<style>
    *{
        box-sizing: border-box;
        color: black;
    }
    button{
        color: black;
    }
    h2{
        color: black;
    }
    html,body{
        margin: 0;
        padding: 0;
        height: 100%;
    }
    #wrapper{
        height: 100%;
    }
    .booking_container{
        color: #000;
        background-color: #f9f9fb;
        overflow: scroll;
    }
    .booking_padding{
        padding-left: 10%;
        padding-right: 10%;
    }
    .booking_chat{
        overflow: scroll;
    }
    .space_name{
        display: flex;
        color: #000;
        justify-content: flex-start;
        align-content: center;
        padding: 10%;
    }
    .space_content div h2{
        color:black;
        border: 1px solid black;
    }
    .space_content{
        width: 100%;
        padding: 10%;
        overflow: scroll;
    }
</style>
<script>
    $.post("/reservations/<%=params[:id]%>", function( data ) {
        console.log(data)
      });
</script>