<!-- Menu -->
<nav id="menu">
  
  <ul class="actions vertical">
    <% if user_signed_in? %>
    <ul class="links">
    <li>
      <a href="/">Home</a>
    </li>
    <li>
      <a href="/main">Main Page (Reservation) </a>
    </li>
    <li>
      <a href="/space_infos">Space Informations</a>
    </li>
    
  </ul>
    
    <li>
      <%= link_to('My reservations', reservations_user_page_path,  :method => :get, :class => 'button fit') %>
    </li>
    <li>
      <%= link_to('Profile Edit', edit_user_registration_path,  :method => :get, :class => 'button fit') %>
    </li>
      
    <li>
      <%= link_to('logout', destroy_user_session_path, :method => :get, :class => 'button special fit') %>
    </li>
      
      
    <% else %>
    
    <li>
        <%= link_to('login', new_user_session_path, :class => 'button fit') %>
    </li>
    
    <li>
        <%= link_to('Sign Up', new_user_registration_path , :class => "button special fit") %>
    </li>
    <% end %>
  </ul>
</nav>
