<%= form_with(model: reservation, local: true) do |form| %>
  <% if reservation.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(reservation.errors.count, "error") %> prohibited this reservation from being saved:</h2>

      <ul>
      <% reservation.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :people %>
    <%= form.text_field :people, id: :reservation_people %>
  </div>

  <div class="field">
    <%= form.label :place %>
    <%= form.text_field :place, id: :reservation_place %>
  </div>

  <div class="field">
    <%= form.label :time %>
    <%= form.text_field :time, id: :reservation_time %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
