<h1> My Reservations (구현 안됨)</h1>

<!--<% if current_user.id = @resrvation.current_user %>
   <tbody>
    <% @reservations.each do |reservation| %>
      <tr>
        <td><%= reservation.people %></td>
        <td><%= reservation.time %></td>
        <td><%= reservation.place %></td>
        <td><%= reservation.durationTime %></td>
        <td><%= reservation.user.email %></td>
        <td><%= link_to 'Show', reservation %></td>
        <td><%= link_to 'Edit', edit_reservation_path(reservation) %></td>
        <td><%= link_to 'Destroy', reservation, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
<% end %>-->