<%= form_with(model: spif, local: true) do |form| %>
  <% if spif.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(spif.errors.count, "error") %> prohibited this spif from being saved:</h2>

      <ul>
      <% spif.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name, id: :spif_name %>
  </div>

  <div class="field">
    <%= form.label :address %>
    <%= form.text_area :address, id: :spif_address %>
  </div>

  <div class="field">
    <%= form.label :pph %>
    <%= form.number_field :pph, id: :spif_pph %>
  </div>

  <div class="field">
    <%= form.label :photo %>
    <%= form.text_field :photo, id: :spif_photo %>
  </div>

  <div class="field">
    <%= form.label :place %>
    <%= form.text_field :place, id: :spif_place %>
  </div>

  <div class="field">
    <%= form.label :park %>
    <%= form.text_field :park, id: :spif_park %>
  </div>

  <div class="field">
    <%= form.label :smok %>
    <%= form.text_field :smok, id: :spif_smok %>
  </div>

  <div class="field">
    <%= form.label :wifi %>
    <%= form.text_field :wifi, id: :spif_wifi %>
  </div>

  <div class="field">
    <%= form.label :printer %>
    <%= form.text_field :printer, id: :spif_printer %>
  </div>

  <div class="field">
    <%= form.label :consent %>
    <%= form.text_field :consent, id: :spif_consent %>
  </div>

  <div class="field">
    <%= form.label :projector %>
    <%= form.text_field :projector, id: :spif_projector %>
  </div>

  <div class="field">
    <%= form.label :payment %>
    <%= form.text_field :payment, id: :spif_payment %>
  </div>

  <div class="field">
    <%= form.label :ot %>
    <%= form.time_select :ot, id: :spif_ot %>
  </div>

  <div class="field">
    <%= form.label :ct %>
    <%= form.time_select :ct, id: :spif_ct %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
