<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @spif.name %>
</p>

<p>
  <strong>Address:</strong>
  <%= @spif.address %>
</p>

<p>
  <strong>Pph:</strong>
  <%= @spif.pph %>
</p>

<p>
  <strong>Photo:</strong>
  <%= @spif.photo %>
</p>

<p>
  <strong>Place:</strong>
  <%= @spif.place %>
</p>

<p>
  <strong>Park:</strong>
  <%= @spif.park %>
</p>

<p>
  <strong>Smok:</strong>
  <%= @spif.smok %>
</p>

<p>
  <strong>Wifi:</strong>
  <%= @spif.wifi %>
</p>

<p>
  <strong>Printer:</strong>
  <%= @spif.printer %>
</p>

<p>
  <strong>Consent:</strong>
  <%= @spif.consent %>
</p>

<p>
  <strong>Projector:</strong>
  <%= @spif.projector %>
</p>

<p>
  <strong>Payment:</strong>
  <%= @spif.payment %>
</p>

<p>
  <strong>Ot:</strong>
  <%= @spif.ot %>
</p>

<p>
  <strong>Ct:</strong>
  <%= @spif.ct %>
</p>

<%= link_to 'Edit', edit_spif_path(@spif) %> |
<%= link_to 'Back', spifs_path %>
