<!-- # app/views/devise/sessions/new.html.erb -->
<!-- # 로그인과 관련된 부분입니다. -->
<div class="space_container space_padding">
  <div class="ui middle aligned center aligned grid loginForm">
  <div class="column loginColumn">
      <div class="space_login"><strong>로그인</strong></div>  
      
      <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
        <div class="field">
          <%= f.label :email %><br />
          <%= f.email_field :email, autofocus: true %>
        </div>
      
        <div class="field">
          <%= f.label :password %><br />
          <%= f.password_field :password, autocomplete: "off" %>
        </div>
      
        <% if devise_mapping.rememberable? -%>
          <div class="field">
            <%= f.check_box :remember_me %>
            <%= f.label :remember_me %>
          </div>
        <% end -%>
      
        <div class="space_devises_button">
          <div class="actions">
            <%= f.submit "Log in" %>
          </div>
        <% end %>
      </div>
      <div class="space_shared">
        <%= render "devise/shared/links" %>
      </div>  
  </div>
</div>
</div>
