사용자가 방을 구할 때 인원이랑 장소 시간등을 입력받는 곳 

넘겨야 할 정보 
1.회원정보
2.인원
3.장소
4.시간 (몇시~몇시)

 <%= form_tag '/accept_user' ,method: "post" do %>
  <p>인원 <%= text_field 'people' ,nil %> </p>
 <p> 장소 <%= text_field 'place' ,nil %> </p>
 <p> 입실시간 <%= datetime_local_field 'select_start_time' ,nil %> ~ <br />
      퇴실시간 <%= datetime_local_field 'select_end_time', nil %></p>
 <p>연락가능한 번호 <%= telephone_field 'phone', nil %> </p>

<p><%= submit_tag 'submit' %></p>
<%end%>
</table>