<!DOCTYPE html>
<html>
  <head>
    <title>SpacePick</title>

    <meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />

    <%= csrf_meta_tags %>

    <!-- 2017.11.26 excavator
    actioncable meta tag -->
    <%#= action_cable_meta_tag %>

    <!-- bootstrap 4 css cdn tag
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
     https://getbootstrap.com/docs/4.0/getting-started/introduction/-->
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>


  </head>

  <body>
    <div id="wrapper">

      <%= render 'partials/header' %>
      <%= render 'partials/menu' %>

      <%= yield %>

      <%# render 'partials/contact' %>
      <%= render 'partials/footer' %>
    </div>
    
    <style>

#main{
	height: 100%;
}
section{
	height: 100%;
}
#two{
	display: flex;
	justify-content: center;
}
div.inner{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
</style>

  </body>

  <!-- Scripts -->
  <!--
  <script src="assets/js/jquery.scrolly.min.js"></script>
  <script src="assets/js/jquery.scrollex.min.js"></script>
  -->

</html>
